<!doctype html>
<html lang="zh-tw">
<a href="~/Views/Home/About.cshtml"></a>
<head>
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.theme.css">
    <link rel="stylesheet" href="~/Content/jquery.ui.timepicker.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-timepicker-theme.css">
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.ui.timepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.ui.tabs.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.ui.position.min.js"></script>

</head>
@{
    ViewBag.Title = "工業4.智慧環保預測系統";
}
@*@model System.DateTime*@

<div style="font-size: 15px;background-color:transparent;border-radius:20px;padding:25px">
    <h1 style="color:white">歷史蒸汽壓力記錄</h1>
    <body onload="startTime()">

        <h3 id="time" style="color:white"></h3>
        <script>
            function startTime() {
                var today = new Date();
                var y = today.getFullYear();
                var mon = today.getMonth();
                var d = today.getDate();
                var h = today.getHours();
                var m = today.getMinutes();
                var s = today.getSeconds();
                var month = mon + 1;

                m = checkTime(m);
                s = checkTime(s);
                document.getElementById('time').innerHTML =
                    y + "/" + month + "/" + d + " " + h + ":" + m + ":" + s;
                var t = setTimeout(startTime, 500);
            }
            function checkTime(i) {
                if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
                return i;
            }
        </script>
    </body>

    @using (Html.BeginForm("About", "Home", FormMethod.Get))
    {
        <p>
            <label style="color:white;font-size:larger">日期:<input type="text" id="Date" autocomplete="off" style="color:white"/></label>
            <script>
                $(function () {

                    $("#Date").datepicker({ inline: true, dateFormat: 'yy/m/d', autoclose: true });

                });
            </script>


            <label style="color:white;font-size:larger">時間: <input type="text" id="Hours" autocomplete="off" style="color:white" /><label style="color:white">*請輸入想查詢的開始時間*</label></label>
            <script>
                $(function () {

                    $("#Hours").timepicker({ inline: true, autoclose: true, showPeriodLabels: false });

                });
            </script>

            <br />
            <br />
            <input type="button" id="search" value="查詢" style="border-radius:10px;text-align:center;padding: 0.01% 0.5% 1% 1%;" />
        </p>
    }


</div>

<div class="jumbotron">
    @section scripts
    {
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>



            //setInterval("DownloadChartData()", 10000)
                 function DownloadChartData(Date, Hours) {

                $.ajax({
                        //url: '@Url.Action("SearchChartData", "Home")',
                        url: "/Home/SearchChartData/",
                        data: { Date: Date, Hours: Hours },
                        type: "post",
                        success: function (response) {
                            ShowChart(response);
                        },
                        error: function (xhr, status, error) {
                            alert(error);
                        }
                    });

                };


              function ShowChart(data){
                    var options = {
                        title: '鍊條式燃煤蒸汽鍋爐蒸汽壓力記錄',
                        height: 300, //如果要改變圖的長度就改這邊，width刪掉
                        axisTitlesPosition: "蒸汽壓力記錄",

                        leged: { ponsition: 'in' },
                        chartArea: { width: "70%", height: "50%" },

                        vAxis: {


                            title: '蒸汽壓力(kgf/cm2G)'

                        },
                        hAxis: {

                            title: '時間',
                            direction: '-1',
                            slantedText: 'false',
                            showTextEvery: '1'


                        },

                        animation:
                        {
                            duration: 1000,
                            easing: 'in',
                            startup: true
                        }


                    };
                    var dataTable = new google.visualization.DataTable(data.dataTable);
                    var chart = new google.visualization.LineChart(document.getElementById('chart-area'));
                    chart.draw(dataTable, options);
              };


              //讓圖可以隨window size調整
              $(window).resize(function () {
                  DownloadChartData()
              });

              $('#search').click(function () {
                  google.charts.load('current', { 'packages': ['corechart'] });
                  google.charts.setOnLoadCallback(SortedChartData);
              })

              function SortedChartData() {
                  var Date = $('#Date').val();
                  var Hours = $('#Hours').val();
                  DownloadChartData(Date, Hours);

              }


        </script>
    }


    <div class="row">
        <div class="col-md-12">
            <div id="chart-area" class="chart" style="position :center"></div>
        </div>
    </div>
</div>



</html>


